/* @override 
	http://dliver.com/sites/www.dliver.com/themes/dliver/css/global.css?lvjnno
	http://dliver.com/sites/www.dliver.com/themes/dliver/css/global.css?lyb61j
	http://dliver.com/sites/www.dliver.com/themes/dliver/css/global.css?me5x0f
	http://dliver.com/sites/www.dliver.com/themes/dliver/css/global.css?mh2vic */

/* This file will hold the main styles for your website. */

@font-face {
  font-family: 'league_gothicregular';
  src: url('../type/leaguegothic/leaguegothic-regular-webfont.eot');
  src: url('../type/leaguegothic/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/leaguegothic/leaguegothic-regular-webfont.woff') format('woff'),
       url('../type/leaguegothic/leaguegothic-regular-webfont.ttf') format('truetype'),
       url('../type/leaguegothic/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-weight: 300;
  font-family: helvetica, arial, sans-serif;
  line-height: 1.2em;
  font-size: 90%;
}


h1, h2, h3, h4 {
  font-family: 'league_gothicregular', sans-serif;
}


h2 {
  font-weight: 400;
  margin: 15px 0;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
}

h2 {
  font-size: 150%;
  margin-bottom: 5px;
}

a:link, a:visited {
/*  color: #00c5f1; */
  color: #16B8EC;
  text-decoration: none;
}

p.last-updated {
  color: gray;
  margin-top: 40px;
}

table.investors {
	margin-top: 30px;
}

table.investors td {
	padding: 0 30px 20px 0;
	vertical-align: top;
}

.zone-branding .logo-img {
  padding-top: 39px;
}

.zone-branding .logo-img img {
  display: block;
}

.zone-branding ul.main-menu {
  position: absolute;
  top: 62px;
  right: 10px;
  font-size: 120%;
  letter-spacing: 1px;
  font-weight: 400;
}

ul.main-menu li {
  font-family: 'league_gothicregular', Helvetica, Arial, sans-serif;
  font-size: 160%;
  border-top: solid 6px white;
  margin-right: 30px;
  padding: 45px 0 0 0;
  text-transform: uppercase;
}

ul.main-menu li.last {
  margin-right: 0;
}

ul.main-menu li.active,
ul.main-menu li.active-trail,
ul.main-menu li:hover {
  border-top: solid 6px #16b9ed;
  padding-top: 47px;
}

ul.main-menu li:hover a {
  color: #0b4c61;
}


ul.main-menu li a,
ul.menu li a {
  color: #b5b4b4;
  text-decoration: none;
}

ul.main-menu li.active a,
ul.main-menu li.active-trail a {
  color: #0b4c61;
}

.region-content ul {
  list-style-type: circle;
  margin-left: 30px;
}

.region-content ol {
  list-style-type: upper-roman;
  margin-left: 30px;
}

.region-menu {
  float: right !important;
  margin-right: 0 !important;
}

.zone-preface {
  margin: 48px 0 64px 0;
}

.zone-preface-inner {
  padding-top: 23px;
  padding-bottom: 20px;
  border-bottom: solid 1px gray;
  border-top: solid 1px gray;
  margin: 0 0 0 10px;
  width: 940px;
  overflow: hidden;
}

.zone-preface h2 {
  margin-top: 0px;
  font-weight: 500;
}

.region-preface-first {
   margin-left: 0 !important;
}

.region-preface-third {
  margin-right: 0 !important;
}

.region-preface-first-inner {
  color: #65b6ea;
  font-size: 197%;
  font-weight: bold;
  line-height: 36px;
  padding: 0 20px 0 0;
/* letter-spacing: 0.05em; */
}

.region-preface-second-inner {
/*  border-left: dotted 1px #16b9ed;
  border-right: dotted 1px #16b9ed;  */
  padding: 0;
  margin: 0 0 0 -35px;
}

.region-preface-third-inner {
  /*  letter-spacing: 0.06em; */
  color: #65b6ea;
  line-height: 36px;
  font-weight: 300;
  text-align: right;
}

.region-preface-third-inner .content img {
  margin: 2px 0 0 16px;
  vertical-align: top;
}

div.region-sidebar-first-inner ul.menu {
  border-top: 1px solid #808080;
  list-style-image: none;
  font-size: 110%;
  line-height: 20px;
}

div.region-sidebar-first-inner ul.menu li {
  border-bottom: 1px solid #808080;
  font-weight:bold;
  margin: 0;
  padding: 16px 0 14px 0;
}

div.region-sidebar-first-inner ul.menu li:hover a,
div.region-sidebar-first-inner ul.menu li.active-trail a {
  color: #0b4c61;
}

/* homepage boxes */
.panels-flexible-region-homepage-left h2,
.panels-flexible-region-homepage-center h2,
.panels-flexible-region-homepage-right h2 {
  text-transform: uppercase;
  color: gray;
  font-size: 140%;
}

.panels-flexible-region-homepage-left h3,
.panels-flexible-region-homepage-center h3,
.panels-flexible-region-homepage-right h3 {
  text-transform: uppercase;
  font-size: 180%;
  padding: 0.1em 0 0.8em 0;
  border-bottom: dotted 1px;
}

.panels-flexible-row-homepage-main-row a {
  color: black;
  margin: 0;
}

.panels-flexible-row-homepage-main-row a img {
  border: none;
}

.panel-pane img {
  margin: -20px 0 20px 0;
}


div.region-content p {
  margin-top: 1em;
}

/* Views / people */

.panel-people .panel-row-top {
  margin: 0 0 47px 0;
  width: 100%;
}

.panel-people .panel-col-left {
  color: #0b4c61;
  float: left;
  width: 35%;
}

.panel-people .panel-col-right {
  float: right;
  width: 61%;
}

.view-board-of-directors .views-field-field-picture,
.view-management .views-field-field-picture  {
  width: 100%;
}

.view-board-of-directors .views-row-first, .view-management .views-row-first {
  padding-top: 0 !important;
}

.view-board-of-directors .views-row,
.view-management .views-row {
  border-bottom: 1px solid #808080;
  clear: both;
  margin-bottom: 30px;
  padding-top: 40px;
  padding-bottom: 65px;
}

.view-board-of-directors .views-row-last,
.view-management .views-row-last {
  border-bottom: 0;
  padding-bottom: 0;
}

.view-management .views-label, .view-board-of-directors .views-label {
  font-weight: bold;
}

.view-board-of-directors .views-field-field-title,
.view-board-of-directors .views-field-field-telephone,
.view-board-of-directors .views-field-field-telephone,
.view-management .views-field-field-title,
.view-management .views-field-field-email,
.view-management .views-field-field-telephone
 {
  font-size: 125%;
  line-height: 1.222em;
}

.view-management .views-field-body, .view-board-of-directors .views-field-body {
  font-size: 114%;
  line-height: 1.375em;
}

.view-board-of-directors .views-field-title h2, .view-management .views-field-title h2 {
  font-size: 210%;
  line-height: 1em;
  text-transform: uppercase;
}

.views-label {
  float: left;
  margin-right: 0.5em;
}

.footnotes {
  font-size: 1em;
}

/* new frontpage */

.view-frontpage-slider {
	overflow: hidden;
}

.flexslider {
	background: #65b6ea;
  border-radius:0 !important;
  border: 0;
	color: white;
	height: 345px;
}

.flexslider img {
}

.flexslider .flexslider-arrow {
  background: url("../images/flexslider-arrow.png") no-repeat 0 50%;
  height: 345px;
  position: absolute;
  width: 620px;
  top: 0;
  left: 0;
}

.flexslider .views-field-title,
.flexslider .views-field-body,
.flexslider .views-field-nothing  {
	width: 260px;
}


.flexslider .views-field-title {
	padding: 60px 30px 0 35px;
}

.flexslider .views-field-title a {
	color: white;
	font-size: 2.857em;
	line-height: 0.950em;
	font-family: 'league_gothicregular', sans-serif;
}

.flexslider .views-field-nothing {
	background: url(../images/front-button.png) no-repeat;
	margin: 0px 35px 0px 30px;
	height: 40px;
	position: absolute;
	top: 270px;
}

.flexslider .views-field-nothing:hover {
	background: url(../images/front-button.png) no-repeat 0px -40px;
}

.flexslider .views-field-nothing:hover a {
	color: white;
	text-shadow: none;
}

.flexslider .views-field-nothing span a {
	position: absolute;
	top: 12px;
	left: 20px;
	text-transform: uppercase;
	color: gray;
	font-size: 0.8em;
	text-shadow: #eee 1px 1px;
}


.flexslider .views-field-body {
	padding: 0px 35px 10px 35px;
	font-size:1.214em;
	line-height: 1.176em;
}


.flexslider .views-field-field-picture {
	position: absolute;
	top: 0;
	right: 0px;
}

ol.flex-control-nav {
  bottom: 25px;
  left: 35px;
  position: absolute;
  text-align: left;
}

.flex-control-nav li {
  border-left: 1px solid #fff;
  float: left;
  margin: 0 !important;
  padding:0 5px;
  text-align: center;
}

.flex-control-nav li:first-child {
  border:0 !important;
  padding-left: 0 !important;
}

.flex-control-nav li a {
  color: #fff;
  float:left;
  text-indent: 0;
  background: none !important;
}

.flex-control-nav li a.active {
  color: #0b4c61;
  text-decoration: underline;
}

/* quotes */

.view-quotes {
	text-align: center;
}

.view-quotes .views-field-body {
	color: #16B9ED;
	font-size: 1.3em;
	font-style: italic;
}

.view-quotes .views-field-field-source {
	margin: 10px 0 100px 0;
}

.view-quotes .views-field-field-source div:before {
	content: "- ";
}

/*
 * Toggle list
 */

.toggle-headline-closed {
  background: url("../images/toggelist-open.png") no-repeat 0 32px
}

.toggle-headline-open {
  background: url("../images/togglelist-close.png") no-repeat 0 32px;
}

.toggle-headline {
  border-top: 1px solid #0b4c61;
  color: #65b7eb;
  cursor: pointer;
  font-size: 38px;
  line-height: 37px;
  margin: -1px 0 0 0;
  padding: 31px 0 27px 50px;
  text-transform: uppercase;
}

.toggle-content {
  border-bottom: 1px solid #0b4c61;
  color: #0b4c61;
}

div.toggle-content, p.toggle-content {
  padding: 0 0 28px 50px;
}

ul.toggle-content, ol.toggle-content {
  margin-left: 0 !important;
  padding: 0 0 28px 65px;
}

/*
 * Webform
 */

.webform-client-form {
  padding: 24px 0 0 0;
}

.webform-client-form .form-text, .webform-client-form .form-select, .webform-client-form .form-textarea {
  background: #ffffff;
  border: 1px solid #0b4c61;
  color: #0b4c61;
  font-size: 114%;
  height: 52px;
  padding: 0 8px;
  width: 100%;
}

.webform-client-form .form-text {
  line-height: 52px;
}

.webform-client-form .form-textarea {
  height: 300px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.webform-client-form .webform-component {
  padding: 3px 0 11px 0;
}

.webform-client-form label {
  color: #0b4c61;
  font-size: 114%;
  font-weight: bold;
  line-height: 1.375em;
}

.webform-client-form .chzn-container-single .chzn-single {
  background: #ffffff;
  border: 1px solid #0b4c61;
  border-radius: 0;
  font-size: 114%;
  height: 35px;
  line-height: 35px;
}

.webform-client-form .form-submit {
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
}

.field-name-body h1, #page-title {
  color: #0b4c61;
  font-size: 421%;
  line-height: normal;
  text-transform: uppercase;
  font-weight: normal;
  margin: -13px 0 0 0;
  padding: 0 0 0 0
}

.contactbox {
  border-bottom: 1px solid #808080;
  color: #0b4c61;
  line-height: 1.4em;
  font-size: 128%;
  margin: 0 0 60px 0;
  padding: 20px 0 67px 0;
}

.contactbox h2 {
  line-height: normal;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: normal;
}

.contactbox p {
  margin: 0 !important;
}

/* Zone Footer */

.zone-footer-wrapper {
  background: #0b4c61;
  color: #fff;
  margin: 50px 0 0 0;
  padding: 34px 0 36px 0;
}

.zone-footer-wrapper h2.block-title {
  color: #fff;
  font-size: 194%;
  font-weight: normal;
  padding: 0 0 10px 0;
}

/* Zone Bottom */

.zone-bottom-wrapper {
  background: #083746;
  color: #8b8c8d;
  font-size: 97%;
}

.zone-bottom-wrapper a {
  color: #8b8c8d;
}

.region-bottom-first {
  line-height: 47px;
}

.region-footer-first .content {
  line-height: 1.389em;
}

.region-footer-second-inner {
  padding: 0 15px 0 0;
}

.region-footer-third h2.block-title {
  padding-left: 55px;
}

.region-footer-third .content a {
  color: #feffff;
  text-decoration: underline;
}

.region-footer-third .content {
  line-height: 1.389em;
}

.region-footer-third .content em {
  font-size: 118%;
  font-style: normal;
}

.region-footer-third-inner {
  float: right;
  padding: 0 15px 0 0;
}

/* Footer Icons */

.icon-contact {
  padding: 0 0 20px 55px;
}

.icon-contact-tel {
  background: url("../images/icon-contact-tel.png") no-repeat 0 0;
}

.icon-contact-mail {
  background: url("../images/icon-contact-mail.png") no-repeat 0 0;
}

.icon-contact-address {
  background: url("../images/icon-contact-address.png") no-repeat 0 0;
}

/* Event Footer view */


.view-event-footer .views-row {
  padding: 0 0 20px 0;
}

.view-event-footer .views-row-last {
  padding-bottom: 0;
}

.view-event-footer .views-field-title {
  padding: 0 0 4px 0;
  text-decoration: underline;
}

.view-event-footer .views-field {
  line-height: 1.389em;
}

/* Headline image, Google Map Bloc */

.view-headline-image, #block-block-7 {
  padding: 0 0 50px 0;
}