/* @override 
	http://dliver.com/sites/www.dliver.com/themes/dliver/css/global.css?lvjnno */

/* This file will hold the main styles for your website. */


body {
  font-weight: 300; 
  font-family: helvetica, arial, sans-serif;
  line-height: 1.2em;
  font-size: 90%;
}


h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}


h2 {
  font-weight: 400;
  margin: 15px 0;
}

h1 {
  font-size: 200%;
  text-transform: uppercase;
}

h2 {
  font-size: 150%;  
  margin-bottom: 5px;
}

a:link, a:visited {
/*  color: #00c5f1; */ 
  color: #16B8EC;
  text-decoration: none;
}

p.last-updated {
  color: gray;
  margin-top: 40px;
}

.zone-branding .logo-img {
  padding-top: 20px;
}

.zone-branding ul.main-menu {
  position: absolute;
  top: 45px;
  right: 10px;
  font-size: 120%;
  letter-spacing: 1px;
  font-weight: 400;
}

ul.main-menu li {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 130%;
  border-top: solid 5px white;
  margin-right: 30px;
  padding: 45px 0 0 0;
  text-transform: uppercase;
}

ul.main-menu li.last {
  margin-right: 0;
}

ul.main-menu li.active, 
ul.main-menu li.active-trail, 
ul.main-menu li:hover {
  border-top: solid 8px #16b9ed;
  padding-top: 33px;
}

ul.main-menu li:hover a {
  color: black;
}


ul.main-menu li a, 
ul.menu li a {
  color: gray;
  text-decoration: none;
}

ul.main-menu li.active a, 
ul.main-menu li.active-trail a {
  color: black;
}

.region-content ul {
  list-style-type: circle;
  margin-left: 30px;
}

.region-content ol {
  list-style-type: upper-roman;
  margin-left: 30px;
}

.zone-preface {
  margin: 60px 0 40px 0;
  padding-bottom: 25px;
  border-bottom: solid 1px gray;
}

.zone-preface h2 {
  margin-top: 0px;
  font-weight: 500;
}


.region-preface-first-inner {
  color: #16b9ed;
  font-size: 140%;
  line-height: 1.3em;
  letter-spacing: ;
  padding: 0 20px 0 0;
/* letter-spacing: 0.05em; */ 
}

.region-preface-second-inner {
/*  border-left: dotted 1px #16b9ed; 
  border-right: dotted 1px #16b9ed;  */ 
  padding: 0;
  margin: 0 0 0 -35px;
}

.region-preface-third-inner {
  /*  letter-spacing: 0.06em; */  
}

div.region-sidebar-first-inner ul.menu {
  list-style-image: none;
  font-size: 110%;
}

div.region-sidebar-first-inner ul.menu li {
  background: url('../images/menu-arrows.png') no-repeat;
  background-position: left -1px;
  padding: 0px 6px 4px 35px;
  margin-bottom: 5px;
}

div.region-sidebar-first-inner ul.menu li:hover,
div.region-sidebar-first-inner ul.menu li.active-trail {
  background-position: left -30px;
}

/* homepage boxes */
.panels-flexible-region-homepage-left h2,
.panels-flexible-region-homepage-center h2,
.panels-flexible-region-homepage-right h2 {
  text-transform: uppercase;
  color: gray;  
  font-size: 140%;
}

.panels-flexible-region-homepage-left h3,
.panels-flexible-region-homepage-center h3,
.panels-flexible-region-homepage-right h3 {
  text-transform: uppercase;  
  font-size: 180%;
  padding: 0.1em 0 0.8em 0;
  border-bottom: dotted 1px;
}

.panels-flexible-row-homepage-main-row a {
  color: black;
  margin: 0;
}

.panels-flexible-row-homepage-main-row a img {
  border: none;
}

.panel-pane img {
  margin: -20px 0 20px 0;
}


div.region-content p {
  margin-top: 1em;
}

.zone-footer {
  text-transform: uppercase;
  font-size: 80%;
  color: #16b9ed;
  text-align: center;
  margin-top: 50px;
}

/* Views / people */

.view-board-of-directors .views-field-field-picture,
.view-management .views-field-field-picture  {
  float: left;
  padding-right: 30px;
  border-right: dotted 1px #16b9ed;
  margin-bottom: 30px;
} 

.view-board-of-directors .views-row, 
.view-management .views-row {
  clear: both;
  margin-top: 30px;
}

.view-board-of-directors .views-field-field-email,  
.view-board-of-directors .views-field-field-telephone,
.view-board-of-directors .views-field-title,
.view-board-of-directors .views-field-body,
.view-management .views-field-field-email, 
.view-management .views-field-field-telephone,
.view-management .views-field-title {
  margin-left: 160px;
} 

.views-label {
  float: left;
  margin-right: 0.5em;
}

.footnotes {
  font-size: 1em;
}